#https://github.com/spring-projects/spring-boot/blob/master/.gitignore

*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
3D Objects/
Ambiente de Impressão/
Ambiente de Rede/
android-studio-2022.3.1.20-windows.exe
Composer-Setup.exe
Dart_x64.stable.setup.exe
dbeaver-ce-23.2.3-x86_64-setup.exe
Git-2.42.0.2-64-bit (1).exe
Git-2.42.0.2-64-bit.exe
GitHubDesktopSetup-x64.exe
Insomnia.Core-8.3.0.exe
jdk-21_windows-x64_bin.exe
npp.8.5.8.Installer.x64.exe
OracleXE213_Win64/
OracleXE213_Win64.zip
spring-tool-suite-4-4.20.0.jar
sts-4.20.0.RELEASE/
VSCodeUserSetup-x64-1.83.1.exe
VSCodeUserSetup-x64-1.84.1.exe
